@inherits LayoutComponentBase

<PageTitle>DemoCRUDApp</PageTitle>

<div class="page">
    <div style="width:300px;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <!--<div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>-->

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
